@font-face {
    font-family: me;
    src: url(../../fonts/static/Montserrat-Medium.ttf);
}

:root{
    --font_Family_AllPages: me;
    --font_color_darkSection: rgb(255, 255, 255);
    --font_color_lightSection: rgb(0, 0, 0);

    --color_Hightlight: #7589ff;
    --color_background_skills : #6f6f6f87 ;

    /* / Blacks and Whites / */
    --black-color: hsl(0, 0%, 0%); /*#black*/
    --white-color: hsl(0, 0%, 100%); /*#black*/
  
    /* / Background Colors / */
    --primary-bg-color: hsl(0, 0%, 7%); /*#111111*/
    --secondary-bg-color: hsl(0, 0%, 14%); /*#232323*/
    --accent-bg-color: hsl(0, 0%, 17%); /*#2C2C2C*/
  
    /* / Primary, Secondary, Accent colors / */
    --primary-color: hsl(231, 37%, 14%); /*#161A30*/
    --secondary-color: hsl(231, 32%, 22%); /*#262B49*/
    --accent-color: hsl(231, 100%, 73%); /*#7589ff*/
  
    /* / Font color / */
    --primary-font-color: hsl(0, 0%, 100%); /*#FFFFFF*/
    --secondary-font-color: hsl(0, 0%, 80%); /*#B4B4B4 -> 0, 0, 71*/
  
    /* / Margin / */
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --margin-xxxl: 5rem;
  
    /* / Padding / */
    --padding-xxs: 0.25rem;
    --padding-xs: 0.5rem;
    --padding-s: 0.75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl: 2.5rem;
  
    /* / font size / */
    --font-size-xxs: 0.75rem;
    --font-size-xs: 0.875rem;
    --font-size-s: 1rem;
    --font-size-sm: 1.125rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;
    --font-size-xxxl: 4rem;
    --font-size-xxxxl: 6rem;
    --font-size-xxxxxl: 8rem;
    --font-size-xxxxxxl: 10rem;
  
    --side-padding: 5vw;
  
    /* / screen max width */ 
    --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-xl: 1200px;
    --screen-xxl: 1400px;
}

body {
    scroll-behavior: smooth;
    font-family: var(--font_Family_AllPages);
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5, h6, p, a{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--font_color_AllPages);
}

/* ***** Navbar ***** */

#homepage_navbar_oben{
    display: flex;
    justify-content: right;
    position: sticky;

}

#homepage_navbar_portfolio{
    display: flex;
    
}

.homepage_navbar{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 2.5vh 3vw 0 2vw;
    display: grid;
    grid-template-columns: 20% 80%;

    height: 3vh;

    color: white;
}

.homepage_navbar_link{
    padding-right: 5vw;
    display: block;

    transition: all ease-in-out 150ms;
}

.homepage_navbar_link:hover{
    scale: 1.1;
}

#homepage_section1{
    height: 100vh;
    /* z-index: 5; */

    background-color: #161A30;
}

/* Contact Formular */

#main_contact{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.iconUtext{
    display: grid;
    grid-template-columns: 1fr;
}

.socialImg{
    width: 4vw;
    height: 7vh;
}

.iconUtext h4{
    color: var(--white-color);   
}

#formula{
    padding: 10vh 5vw 0 5vw;
}

#socials div{
    padding: 0;
    margin-right: 2vw;
}

#main2_socials{
    
}

#socials{
    padding: 10vh 5vw 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



#contactVuN{
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#contactVuN > input{
    padding:  1vw 1.5vw;
    border: var(--accent-color) solid 2px;
    border-radius: 8px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

#contactVuN ::placeholder, text::placeholder{
    color: rgba(255, 255, 255, 0.672);
}

#email{
    padding: 0.5vw 0 2vw 0;
}

#email > input{
    padding: 1vw 1.5vw;
    border: var(--accent-color) solid 2px;
    border-radius: 8px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

#text{
    padding: 0.5vw 0 1vw 0;
}

#text > textarea{
    padding: 1vw 1.5vw;
    border: var(--accent-color) solid 2px;
    border-radius: 8px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

#sendButton{
    padding: 0.5vw 1vw;
    border-radius: 8px;
    border: var(--accent-color) solid 2px;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

#sendButton:hover{
    padding: 0.5vw 1vw;
    border-radius: 8px;
    border: var(--primary-color) solid 2px;
    background-color: var(--accent-color);
    color: var(--primary-color);
}