@font-face {
    font-family: me;
    src: url(../../fonts/static/Montserrat-Medium.ttf);
}

:root{
    --font_Family_AllPages: me;
    --font_color_darkSection: rgb(255, 255, 255);
    --font_color_lightSection: rgb(0, 0, 0);

    --color_Hightlight: #7589ff;
    --color_background_skills : #6f6f6f87 ;

    /* / Blacks and Whites / */
    --black-color: hsl(0, 0%, 0%); /*#black*/
    --white-color: hsl(0, 0%, 100%); /*#black*/
  
    /* / Background Colors / */
    --primary-bg-color: hsl(0, 0%, 7%); /*#111111*/
    --secondary-bg-color: hsl(0, 0%, 14%); /*#232323*/
    --accent-bg-color: hsl(0, 0%, 17%); /*#2C2C2C*/
  
    /* / Primary, Secondary, Accent colors / */
    --primary-color: hsl(231, 37%, 14%); /*#161A30*/
    --secondary-color: hsl(231, 32%, 22%); /*#262B49*/
    --accent-color: hsl(231, 100%, 73%); /*#7589ff*/
  
    /* / Font color / */
    --primary-font-color: hsl(0, 0%, 100%); /*#FFFFFF*/
    --secondary-font-color: hsl(0, 0%, 80%); /*#B4B4B4 -> 0, 0, 71*/
  
    /* / Margin / */
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --margin-xxxl: 5rem;
  
    /* / Padding / */
    --padding-xxs: 0.25rem;
    --padding-xs: 0.5rem;
    --padding-s: 0.75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl: 2.5rem;
  
    /* / font size / */
    --font-size-xxs: 0.75rem;
    --font-size-xs: 0.875rem;
    --font-size-s: 1rem;
    --font-size-sm: 1.125rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;
    --font-size-xxxl: 4rem;
    --font-size-xxxxl: 6rem;
    --font-size-xxxxxl: 8rem;
    --font-size-xxxxxxl: 10rem;
  
    --side-padding: 5vw;
  
    /* / screen max width */ 
    --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-xl: 1200px;
    --screen-xxl: 1400px;
}

body {
    font-family: var(--font_Family_AllPages);
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--font_color_AllPages);
}

/* ***** Navbar ***** */

#homepage_navbar_oben{
    display: flex;
    justify-content: right;

}

#homepage_navbar_portfolio{
    display: flex;
    
}

.homepage_navbar{
    padding: 2.5vh 3vw 0 2vw;
    display: grid;
    grid-template-columns: 20% 80%;

    height: 3vh;

    color: white;
}

.homepage_navbar_link{
    padding-right: 5vw;
    display: block;

    transition: all ease-in-out 150ms;
}

.homepage_navbar_link:hover{
    scale: 1.1;
}

#homepage_section1{
    height: 97vh;
    /* z-index: 5; */

    background-color: #161A30;
}

/* ***** Main Part ***** */

#homepage_main{
    padding: 23vh 0 0 7vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

#homepage_main_text_name{
    font-size: 2em;
}

#homepage_main_nameHighlight{
    color: #7589ff;
}

/* #homepage_main_text_name span{
    color: white;
    animation-delay: 2s;
    font-weight: 600;
} */

.txt-rotate{
    color: white;
    animation-delay: 2s;
    font-weight: 600;
}

.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }

/* #homepage_main_text_buttons{
    display: grid;
    grid-template-columns: 100%;
} */

#homepage_main_button1 a{
    padding: 0.5vw;
    font-size: 1.3em;
    color:#7589ff;
    border: #7589ff solid 2px;
    border-radius: 12px;
    width: 9vw ;
    margin-top: 9vw;
    text-align: center;

    transition: all ease-in-out 150ms;
}

#homepage_main_button1{
    margin-top: 5vw;
    transition: all ease-in-out 150ms;
}

#homepage_main_button2 a{
    padding: 0.7vw;
    font-size: 1.3em;
    color:#7589ff;
    border: #7589ff solid 2px;
    border-radius: 12px;
    width: 13vw ;
    margin-top: 5vw;
    text-align: center;

    transition: all ease-in-out 150ms;
}

#homepage_main_button2{
    margin-top: 3vw;
    transition: all ease-in-out 150ms;
}

#homepage_main_button1 > a:hover{
    color:#161A30;
    border: #161A30 solid 2px;
    background-color: #7589ff;
    cursor: pointer;
}

#homepage_main_button2 > a:hover{
    color:#161A30;
    border: #161A30 solid 2px;
    background-color: #7589ff;
    cursor: pointer;
}

#homepage_main_iphone{
    margin: 0 0 0 0;
    z-index: -6;
    width: 30vw;
}

/* ***** Section 2 ***** */


#homepage_section2{
    height: 110vh;
    margin: 0;
    /* z-index: 10; */
    background-color: #262B49;
}


/* Skills */
  
  #whatIDo-container {
    margin: 0vw 11vw 0 11vw; 
    padding-top: 10vh;
    text-align: center !important;
  }
  
  #whatIDo-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4vw;
    justify-content: center; 
    text-align: center !important;
  }
  
  .whatIDo-box {
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: var(--padding-xl);
    border-radius: 20px;
    box-shadow: 0 0 20px var(--primary-color);
    background-color: var(--primary-color);
  
    text-align: center !important;
  }
  
  .whatIDo-box h2 {
    font-size: var(--font-size-l);
    color: var(--color_Hightlight);
    margin: var(--margin-l) 0;
  }
  
  .whatIDo-box p {
    
    color: var(--font_color_darkSection);
    margin: var(--margin-l) 0;
  }

  #homepage_main_skills_unwichtig {
    color:var(--white-color);
    display: grid;
    gap: 4vw;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2vw ;
    margin: 0vw 11vw 0 11vw; 
    text-align: center;
  }

  /* 
  .whatIDo-box_2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: var(--padding-s);
    border-radius: 20px;
    box-shadow: 0 0 20px var(--primary-color);
    background-color: #090b158b;
  
    text-align: center;
  }
  
  .whatIDo-box_2 h2 {
    font-size: var(--font-size-m);
    color: rgba(255, 255, 255, 0.563);
    margin: var(--margin-l) 0;
  }
  
  .whatIDo-box_2 p {
    font-size: var(--font-size-s);
    color: rgba(255, 255, 255, 0.373);
    margin: var(--margin-l) 0;
  } */


